<mat-card>
  <mat-card-header>
    <mat-card-title>Others Data</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form>
      <div style="width:100%">
        <mat-form-field style="width:25%;margin:15px;">
          <mat-label>Name</mat-label>
          <input matInput value="Jan">
        </mat-form-field>
        <mat-form-field style="width:25%;margin:15px;">
          <mat-label>Second Name</mat-label>
          <input matInput value="Paweł">
        </mat-form-field>
        <mat-form-field style="width:40%;margin:15px;">
          <mat-label>Surname</mat-label>
          <input matInput value="Kowalski">
        </mat-form-field>
      </div>
      <div style="width:100%">
        <mat-form-field style="width:45%;margin:15px;">
          <mat-label>Birth Date</mat-label>
          <input matInput value="01.01.1994">
        </mat-form-field>
        <mat-form-field style="width:45%;margin:15px;">
          <mat-label>Age</mat-label>
          <input matInput disabled value="26">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>