<mat-card>
    <mat-card-header>
        <mat-card-title>Address Data</mat-card-title>
    </mat-card-header>

    <mat-card-content>
            <div >
                <mat-form-field style="margin:5px;">
                    <mat-label>Country</mat-label>
                    <input matInput value="Poland">
                </mat-form-field>
                <mat-form-field style="margin:5px;">
                    <mat-label>State</mat-label>
                    <input matInput value="Wielkopolska">
                </mat-form-field>
            </div>
            <div >
                <mat-form-field style="margin:5px;">
                    <mat-label>Zip Code</mat-label>
                    <input matInput value="57-100">
                </mat-form-field>
                <mat-form-field style="margin:5px;">
                    <mat-label>City</mat-label>
                    <input matInput value="Poznan">
                </mat-form-field>
            </div>
                <div >
                    <mat-form-field style="margin:5px;width:35%;">
                        <mat-label>Street</mat-label>
                        <input matInput value="Dluga">
                    </mat-form-field>
                <mat-form-field style="width:15%;margin:5px;">
                    <mat-label>House number</mat-label>
                    <input matInput value="1">
                </mat-form-field>
                <mat-form-field style="width:15%;margin:5px;">
                    <mat-label>Flat number</mat-label>
                    <input matInput value="2">
                </mat-form-field>
            </div>
    </mat-card-content>
</mat-card>